{% extends "base.html" %}

{% block container%}
    <div id="container_left" class="col-xs-3">
    <!-- 代码完全同中间正文 but delete top & delete -->

    {% for article in html_params.articles %}
        {% if article.id == 181 %}
        <!-- 遍历后端传来的所有文章 -->
        <div>
            <!-- 标题 -->
            <h2><a href="{{ url_for('blog.show_article', id=article.id) }}" id="article_{{ article.id }}_title">{{ article.title }}</a></h2>

            <!-- 信息栏 -->
            <p class="lead">
                <span>
                    <!-- 作者 -->
                    <span class="glyphicon glyphicon-user"></span>
                    <span id="article_{{ article.id }}_author">
                        {{ article.author }}
                    </span>
                </span>

                    <!-- 文档类型 -->
                    <span>
                        &nbsp;&nbsp;<span class="glyphicon glyphicon-list"></span>
                        <label id="article_{{ article.id }}_text_type" hidden>{{ article.text_type }}</label>
                    </span>
                    <!-- 是否公开 -->
                    <span>
                        &nbsp;&nbsp;<span class="glyphicon glyphicon-eye-open"></span>
                        <label id="article_{{ article.id }}_visiable">{{ article.visiable }}</label>
                    </span>
                <font size=3>
                    <span>
                        &nbsp;&nbsp;<span class="glyphicon glyphicon-edit"></span>
                        <a href="#" data-toggle="modal" data-target="#edit" onClick="EditArticle({{ article.id }})">编辑</a>
                    </span>
                </font>
            </p>

            <!-- 正文 -->
            <div>
                <!-- 因为后面会渲染和转义 所以此处用隐藏标签保存原始文本 -->
                <!-- 另：如果这里的p标签改为div 则会导致编辑时卡死 暂时没找到原因 -->
                <p id="article_{{ article.id }}_original_text" hidden>{{ article.text | safe }}</p>
                <div id="article_{{ article.id }}_text"></div>
            </div>
            <hr>
        </div/>
        {% endif %}
    {% endfor %}
    </div>

    <!-- 主体展示 -->
    <div id="container_center" class="col-xs-6">
    {% for article in html_params.articles %}
        <!-- 遍历后端传来的所有文章 -->
        {% if article.id != 181 %}
        <div>
            <!-- 标题 -->
            <h2><a href="{{ url_for('blog.show_article', id=article.id) }}" id="article_{{ article.id }}_title">{{ article.title }}</a></h2>

            <!-- 信息栏 -->
            <p class="lead">
                <span>
                    <!-- 作者 -->
                    <span class="glyphicon glyphicon-user"></span>
                    <span id="article_{{ article.id }}_author">
                        {{ article.author }}
                    </span>
                </span>

                <font size=3>
                    <!-- 发布时间 -->
                    <span>
                        &nbsp;&nbsp;<span class="glyphicon glyphicon-time"></span>
                        {{ article.publishtime }}
                    </span>
                    <!-- 文档类型 -->
                    <span>
                        &nbsp;&nbsp;<span class="glyphicon glyphicon-list"></span>
                        <label id="article_{{ article.id }}_text_type">{{ article.text_type }}</label>
                    </span>
                    <!-- 是否公开 -->
                    <span>
                        &nbsp;&nbsp;<span class="glyphicon glyphicon-eye-open"></span>
                        <label id="article_{{ article.id }}_visiable">{{ article.visiable }}</label>
                    </span>
                    <br/>
                    <!-- 置顶、编辑、删除 -->
                    <span>
                        &nbsp;&nbsp;<span class="glyphicon glyphicon-circle-arrow-up"></span>
                        置顶
                        <input type="checkbox" name="sticktime" id="article_{{ article.id }}_sticktime" value="{{ article.sticktime }}"/>
                    </span>
                    <span>
                        &nbsp;&nbsp;<span class="glyphicon glyphicon-edit"></span>
                        <a href="#" data-toggle="modal" data-target="#edit" onClick="EditArticle({{ article.id }})">编辑</a>
                    </span>
                    <span>
                        <!-- &nbsp;&nbsp;<a href="#" onClick="DeleteArticle({{ article.id }})">删除</a> -->
                        &nbsp;&nbsp;<span class="glyphicon glyphicon-trash"></span>
                        <a href="{{ url_for('blog.del_article') }}?id={{ article.id }}">删除</a>
                    </span>
                </font>
            </p>

            <!-- 正文 -->
            <div>
                <!-- 因为后面会渲染和转义 所以此处用隐藏标签保存原始文本 -->
                <!-- 另：如果这里的p标签改为div 则会导致编辑时卡死 暂时没找到原因 -->
                <p id="article_{{ article.id }}_original_text" hidden>{{ article.text | safe }}</p>
                <div id="article_{{ article.id }}_text"></div>
                <p><a href="#">查看全文</a></p> 
            </div>
            <hr>
        </div/>
        {% endif %}
    {% else %}
        <em>This guy is so lazy...</em>
    {% endfor %}

        <!-- 分页条 -->
        <nav aria-label="Page navigation">
          <ul class="pagination pagination-lg">
            <li>
                <a href="{{ url_for('blog.show_articles', page=1) }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {% for page in html_params.pages %}
                {% if page == html_params.current_page %}
                    <li class="active"><span href="{{ url_for('blog.show_articles', page=page) }}">{{ page }}</span></li>
                {% else %}
                    <li><a href="{{ url_for('blog.show_articles', page=page) }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            <li class="disabled"><span href="#">...</span></li>
            <li>
            <a href="{{ url_for('blog.show_articles', page=html_params.total_page) }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>

    </div>

    <div id="container_right" class="col-xs-3">
        广告位招租
    </div>

    <!-- 添加返回顶部按钮 -->
    <a type="button" class="btn btn-primary btn-circle2 btn-xl" href="#top" >
        <i class="glyphicon glyphicon-open"></i>
    </a>

    <!-- 添加文章按钮 -->
    <button type="button" class="btn btn-primary btn-circle btn-xl" data-toggle="modal" data-target="#edit" onClick="EditArticle(-1)">
        <i class="glyphicon glyphicon-plus"></i>
    </button>

    <!-- 模态弹出框（新建、编辑） -->
    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 80%;">
            <div class="modal-content">
                <form id="article"  action="{{ url_for('blog.add_article') }}" method=post>
                    <!-- 标题 -->
                    <div class="modal-header">
                        <h4 class="modal-title form-group" id="myModalLabel">
                            <input name="title" id="article_title" class="form-control text-center" placeholder="Title" required="" autofocus="" />
                        </h4>
                    </div>

                    <!-- 正文和镜像 -->
                    <div class="modal-body">
                        <!-- 1-4-4-1布局 -->
                        <div class="row form-group">
                            <input name="id" id="article_id" type="hidden" class="form-control" />
                            <!-- 正文 -->
                            <textarea name="text" id="article_text" class="col-xs-4 col-xs-offset-1" style="resize:None;height:0px;padding-bottom:45%" onkeyup="compile_instant()" placeholder="{{ html_params.markdown_template }}"></textarea>
                            <div class="col-xs-2" > <!-- 此处如何实现垂直居中？-->
                                <!-- 文档类型 -->
                                <div class="radio text-center">
                                    <div><label>
                                        <input type="radio" name="text_type" id="articleType1" value="markdown" checked>Markdown
                                    </label></div>
                                    <br/>
                                    <div><label>
                                        <input type="radio" name="text_type" id="articleType2" value="normal">Normal
                                        &nbsp;&nbsp;
                                    </label></div>
                                </div>
                                <!-- 是否公开(仅自己可见) -->
                                <div class="radio text-center">
                                    <hr/>
                                    <div><label>
                                        <input type="radio" name="visiable" id="visiableType1" value="所有人可见" checked>所有人可见
                                    </label></div>
                                    <br/>
                                    <div><label>
                                        <input type="radio" name="visiable" id="visiableType2" value="仅自己可见" >仅自己可见
                                    </label></div>
                                </div>
                            </div>
                            <!-- 编译的镜像 -->
                            <div id="markdown_result" class="col-xs-4" style="border-style: solid;border-width:1px;border-color:rgb(169, 169, 169);height:0px;padding-bottom:45%"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default form-group" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary form-group" >提交更改</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>



    <!-- 以下为srcipt和css-->

    <!-- markdown插件和table扩展插件 -->
    <!-- <script src="/static/showdown-toc.js"></script> -->
    <script src="/static/showdown.js"></script>

    <script>
        // 自动补全
        autocomplete_url = '/blog/search';
        search_input_id = 'search_word';
        $("#"+search_input_id).keyup(function(){  
            var skeyword = $("#"+search_input_id).val();
            $.ajax({
                url: autocomplete_url,
                type: "GET",
                data: {"search_word": skeyword},
                success: function (data) {
                    insertOptions(data);
                }
            });
        });  

        var insertOptions = function(data) {  
            var result = new Array();  
            $.each(JSON.parse(data), function(i, item){  
                result.push(item);  
            });  
            $("#search_word").autocomplete({  
                source: result 

            });  
        };
    </script>
    <script>
        // **markdown编译**
        // 将文档编译后展示 若为normal:将文本输入的\r\n换行符替换为html中的<br/> 若为markdown:转换成markdown结果
        // var converter = new showdown.Converter({extensions: ['table']}); // 
        var converter = new showdown.Converter({
            tables: true,  // table默认是应该没有边框等样式的 需后续自己加上
            tasklists: true,
            parseImgDimensions: true,
            extensions: [
                //"showdown-toc" //这个toc插件暂时也不可用
        ]});
        function compile(text, text_type){
            if(text_type == 'normal'){
                //此处replace需注意js语法：若使用正则时则不能加引号，即直接当做正则对象使用（算是个语法糖）
                return text.replace(/\n/g, '<br/>'); 
            }
            else {
                return converter.makeHtml(text);
            }
        }
    </script>
    <script>
        // **内容加载**
        function compile_onload(article_id){
            var text = $("#article_" + article_id + "_original_text").text();
            var text_type = $("#article_" + article_id + "_text_type").text();
            document.getElementById("article_" + article_id + "_text").innerHTML = compile(text, text_type);
        }

        function init_onload(article_id){
            sticktime = $("#article_" + article_id + "_sticktime").val();
            if(sticktime != ""){
                $("#article_" + article_id + "_sticktime").attr("checked", true);
            }
        }

        {% for article in html_params.articles %}
            compile_onload({{ article.id }});
            init_onload({{ article.id }})
        {% endfor %}
    </script>
    <script>
        // **编辑框相关**
        // 编辑/新增按钮：给弹出的模态框传入原始内容
        function EditArticle(article_id){
            var title = $("#article_" + article_id + "_title").text();
            var text = $("#article_" + article_id + "_original_text").text();
            var text_type = $("#article_" + article_id + "_text_type").text();
            var visiable = $("#article_" + article_id + "_visiable").text();
            $("#article_id").val(article_id);
            $("#article_title").val(title);
            $("#article_text").text(text);
            $("input[name='text_type'][value="+text_type+"]").attr("checked", true);
            $("input[name='visiable'][value="+visiable+"]").attr("checked", true);
            compile_instant();
        }

        // 若文档类型改变，则触发编译更新
        $('input[name="text_type"]').change(
            function() {
                compile_instant();
        });

        // 即时编译模态框的文本
        function compile_instant(){
            var article_id = $("#article_id").val();
            var text = $("#article_text").val();
            var text_type = $("input[name='text_type']:checked").val();

            $("#markdown_result").html(compile(text, text_type));
        }

        // 删除按钮(此处直接提前拼接好请求函数和参数)
        function DeleteArticle(article_id){
            $.ajax({
                async: true,
                type: "POST",
                url: "{{ url_for('blog.del_article') }}",
                data: {"id" : article_id},
                success:function(result){               
                }
            });
        }

        // 置顶类型改变 则触发置顶请求（此处使用jquery获取状态改变对象并用正则提取id）
        $("input[name='sticktime']").change(
            function() { 
                article_id = /\d+/g.exec($(this).attr("id"))[0];
                checked_status = $(this).prop("checked");
                $.ajax({
                    async: true,
                    type: "post",
                    url: "{{ url_for('blog.stick_article') }}",
                    data: {"id" : article_id, "stick_status": checked_status},
                    success:function(result){               
                        window.location.reload();
                    }
                });
        });
    </script>

    <!-- 圆形按钮样式（添加文章） -->
    <style>
        .btn-circle {
          position: fixed; //关键

          width: 30px;
          height: 30px;
          text-align: center;
          padding: 6px 0;
          font-size: 12px;
          line-height: 1.428571429;
          border-radius: 15px;

          bottom: 50px;
          right: 50px;
        }
        .btn-circle.btn-lg {
          width: 50px;
          height: 50px;
          padding: 10px 16px;
          font-size: 18px;
          line-height: 1.33;
          border-radius: 25px;
        }
        .btn-circle.btn-xl {
          width: 70px;
          height: 70px;
          padding: 10px 16px;
          font-size: 24px;
          line-height: 1.33;
          border-radius: 35px;
        }
    </style>
    <!-- 圆形按钮样式（返回顶部） -->
    <style>
        .btn-circle2 {
          position: fixed; //关键

          width: 30px;
          height: 30px;
          text-align: center;
          padding: 6px 0;
          font-size: 12px;
          line-height: 1.428571429;
          border-radius: 15px;

          bottom: 150px;
          right: 50px;
        }
        .btn-circle2.btn-lg {
          width: 50px;
          height: 50px;
          padding: 10px 16px;
          font-size: 18px;
          line-height: 1.33;
          border-radius: 25px;
        }
        .btn-circle2.btn-xl {
          width: 70px;
          height: 70px;
          padding: 10px 16px;
          font-size: 24px;
          line-height: 1.33;
          border-radius: 35px;
        }
    </style>

{% endblock container %}
